.footer{
    bottom: 0;
    text-align: center;
    position: fixed;
    background-color: aqua;
    width: 100%;
    color: azure;
    line-height: 2;
    margin-top: 40px;
 }

 #canvas{
     border-radius: 15px;
     box-shadow: 10px 10px 10px rgb(255, 0, 255);
 }